#include "base/kernel.config"

BR2_PACKAGE_LUKSMETA=y

BR2_ROOTFS_OVERLAY="board/rockchip/common/base board/rockchip/common/security-ramdisk-overlay/"

BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-minimal.config"
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/rockchip/common/security-ramdisk/busybox.fragment"

BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
