#include "base/base.config"
#include "chips/rk3576_aarch64.config"
#include "fs/exfat.config"
#include "fs/vfat.config"
#include "gpu/gpu.config"
#include "multimedia/audio.config"
#include "multimedia/camera.config"
#include "multimedia/mpp.config"
#include "products/ipc.config"
#include "npu2.config"
BR2_LV_COLOR_DEPTH_32=y
BR2_LV_COLOR_SCREEN_TRANSP=y
BR2_LV_FONT_DEFAULT_MONTSERRAT_24=y
BR2_LV_MEM_SIZE_KILOBYTES=128
BR2_LV_PERF_MONITOR_ALIGN_TOP_LEFT=y
BR2_LV_USE_FREETYPE=y
BR2_LV_USE_LARGE_COORD=y
BR2_LV_USE_MEM_MONITOR=y
BR2_LV_USE_PERF_MONITOR=y
BR2_LV_USE_PNG=y
BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_INSTALL_AIISP=y
BR2_PACKAGE_CVR_APP=y
BR2_PACKAGE_CVR_FILE_CACHE=y
BR2_PACKAGE_CVR_LVGL=y
BR2_PACKAGE_CVR_RK3576=y
BR2_PACKAGE_CVR_USE_AIQ=y
BR2_PACKAGE_FCGIWRAP=y
# BR2_PACKAGE_IPCWEB_BACKEND is reset to default
# BR2_PACKAGE_IVA is reset to default
BR2_PACKAGE_JSON_FOR_MODERN_CPP=y
BR2_PACKAGE_LIBCGICC=y
BR2_PACKAGE_LIBDRM_INSTALL_TESTS=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_LIBUNWIND=y
BR2_PACKAGE_RKADK_COMMON_FUNCTIONS=y
BR2_PACKAGE_RKADK_DISPLAY=y
BR2_PACKAGE_RKADK_EXAMPLES=y
BR2_PACKAGE_RKADK_FILE_CACHE=y
BR2_PACKAGE_RKADK_PLAYER=y
BR2_PACKAGE_RKADK_STORAGE=y
BR2_PACKAGE_RKADK_USE_AIQ=y
# BR2_PACKAGE_RKIPC is reset to default
BR2_PACKAGE_ROCKCHIP_RGA=y
# BR2_PACKAGE_SAMPLES is reset to default
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_ROOTFS_OVERLAY="board/rockchip/common/base board/rockchip/rk3576/fs-overlay-ipc/"
