#include "rockchip_rk3576_ipc_defconfig"
#include "fs/ubifs.config"
#include "gui/lvgl/v8/base.config"
# BR2_PACKAGE_CAMERA_ENGINE_RKAIQ_INSTALL_AIISP is reset to default
BR2_PACKAGE_HOST_E2FSPROGS=y
# BR2_PACKAGE_IPCWEB_BACKEND is reset to default
# BR2_PACKAGE_IVA is reset to default
BR2_PACKAGE_LIBATOMIC_OPS=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_LIBUNWIND=y
BR2_PACKAGE_LV_DRIVERS=y
# BR2_PACKAGE_NGINX is reset to default
BR2_PACKAGE_RKIPC_RK3576_DV=y
BR2_PACKAGE_ROCKCHIP_MALI_CUSTOM_PLATFORM="minicl"
# BR2_PACKAGE_ROCKCHIP_MALI_HAS_DUMMY is reset to default
# BR2_PACKAGE_ROCKCHIP_MALI_HAS_EGL is not set
# BR2_PACKAGE_ROCKCHIP_MALI_HAS_GBM is not set
# BR2_PACKAGE_ROCKCHIP_MALI_HAS_GLES is not set
BR2_PACKAGE_ROCKCHIP_MALI_OPTIMIZE_s=y
BR2_PACKAGE_ROCKCHIP_MALI_VERSION="g13p0"
# BR2_PACKAGE_SAMPLES is reset to default
BR2_ROOTFS_POST_BUILD_SCRIPT+="board/rockchip/rk3576/post-build-dv.sh"
# BR2_TARGET_ROOTFS_EXT2 is reset to default
